* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#B1F3FF, #9198e5);
    height: 100vh;
    font-family: lato;
}

a, a:visited {
    color: black;
}

footer {
    border: 1px solid black;
    padding: 0.5rem;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.clock {
    position: relative;
    margin: 20vh auto;

    height: 20rem;
    width: 20rem;
    
    border-radius: 50%;
    border: 12px solid black;
}

.hand {
    position: absolute;
    background-color: black;
    height: 7px;
    width: 50%;
    top: 50%;
    transform-origin: 100%;
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(1, 2.43, 0.61, 0.98);
}

.second-hand {
    transform: rotate(90deg);
    height: 3px;
}

.minute-hand {
    height: 5px;
}

.hour-hand {
    width: 40%;
    left: 10%;
}

.notransition {
    transition: none !important;
}

